*{
    margin: 0;
    padding: 0;
} 
html{
    font-family: 'Roboto', sans-serif;
    list-style: none;
}  
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
} 

.nav-container{
    max-width: 1000px;
    height: 80px;
    padding: 0 24px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    display: inline-block;
    padding: 7px 16px;
    text-decoration: none;
}
.nav-item2>a{
    color: white;
}
.login{
    background-color: white;
    color: black;
    border-radius: 24px;
    font-size: 14px;
}
.motto-container{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;
}
.motto{
    margin-top: 7rem;
    margin-bottom:3rem ;
    font-weight: 800;
    font-size: 56px;
}
.motto-container>p{
    margin-bottom: 1rem;
}
.motto-button1{
    background-color: white;
    color:#23272A ;
    margin-right: 1rem;
}
.motto-button2{
    background-color:black ;
    color:white ;
}
.motto-button1,.motto-button2{
    margin-bottom: 50px;
    padding: 7px 16px;
    border-radius: 24px;
}
.bg{
    padding: 5rem 0 5rem 0;
}
.container-row{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.container-column{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.gray{
    background-color: #F6F6F6;
}
.black{
    background-color: #23272A;
}
.testo-img{
    max-width: 500px;
    margin-top: 2rem;
}
.main-img>img{
    max-width: 700px;
}
.titolo-main{
    font-size: 45px;
}
.container-column>.testo-img{
    max-width: 900px;
    text-align: center;
}
.download{
    text-align: center;
}
.link-download{
    margin-top: 3rem;
    margin-bottom: 50px;
    padding: 14px 32px;
    border-radius: 24px;
    color: white;
    background-color: #7289DA;
}
.footer-container{
    color: white;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.footer-title{
    color: #7188D9;
}
li:nth-child(1){
    color: #7188D9;
}
.ita{
    width: 24px;
}
.lingua{
    display: inline-block;
    transform: rotate(90deg);
}