*{
    margin: 0;
    padding: 0;
} 
html{
    font-family: 'Roboto', sans-serif;
}  
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
} 

.nav-container{
    width: 1000px;
    height: 80px;
    padding: 0 24px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    display: inline-block;
    padding: 7px 16px;
    text-decoration: none;
}
.nav-item2>a{
    color: white;
}
.login{
    background-color: white;
    color: black;
    border-radius: 24px;
    font-size: 14px;
}
.motto-container{
    width: 800px;
    margin: auto;
    text-align: center;
    color: white;
}
.motto{
    margin-top: 7rem;
    margin-bottom:3rem ;
    font-weight: 800;
    font-size: 56px;
}
.motto-container>p{
    margin-bottom: 1rem;
}
.motto-button1{
    background-color: white;
    color:#23272A ;
    margin-right: 1rem;
}
.motto-button2{
    background-color:black ;
    color:white ;
}
.motto-button1,.motto-button2{
    margin-bottom: 50px;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 24px;
}
.container{
    max-width: 800px;
    margin: auto;
     display: flex;
    flex-direction: row;
}
.gray{
    background-color: #F6F6F6;
}
.testo-img{
    width: 700px;

}